@mixin inputStyle() {
  border-radius: var(--input-border-radius);
  border-color: var(--input-border-color);
  border-width: var(--input-border-width);
  border-style: var(--input-border-style);
  background-color: var(--input-background-color);
}
.ads-Input-element {
  @include inputStyle;
  color: var(--c-system);
  padding: var(--input-padding);
  outline: none;
  :focus,
  :hover {
    @include inputStyle;
  }
}
