.ads-Input-element {
  padding: var(--input-padding);
  outline: none;
  border-radius: var(--input-border-radius);
  border-color: var(--input-border-color);
  border-width: var(--input-border-width);
  border-style: var(--input-border-style);
  background-color: var(--input-background-color);
  color: var(--c-black);
}
