:root {
  --input-padding: var(--grid);
  --input-border-radius: 0;
  --input-border-color: var(--c-black);
  --input-border-width: 0;
  --input-border-style: solid;
  --input-background-color: transparent;
  --input-color: var(--c-black);
}