@mixin column7() {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

@mixin flexCentered() {
  display: flex;
  vertical-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin noselect() {
  user-select: none;
}

.ads-Calendar {
  max-width: var(--calendar-w);
  height: var(--calendar-h);
  > * {
    @include noselect;
  }
  > .ads-Calendar-header {
    > .ads-Calendar-monthArea {
      height: var(--calendar-h-row);
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      > .ads-Calendar-currentMonth,
      > .ads-Calendar-previousMonth,
      > .ads-Calendar-nextMonth {
        @include flexCentered;
      }
      > .ads-Calendar-currentMonth {
        text-transform: capitalize;
      }
    }
    > .ads-Calendar-weekDayNames {
      height: var(--calendar-h-row);
      @include column7;
      > .ads-Calendar-weekDayName {
        @include flexCentered;
        text-transform: capitalize;
        &.ads-CalendarDay-weekDayName--weekendDay {
          font-weight: bold;
        }
      }
    }
  }
}
